# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/
server
*.gone

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Environment files
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~